#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.background-site{ 

  --background: url('src/assets/img/video-games-the-elder-scrolls-v-skyrim-grand-theft-auto-v-mass-effect-3-wallpaper-preview.jpg') no-repeat center center / cover;
   overflow: scroll; 
     
}

.greedy {
  left: 20px;
  top: 10px;
  /* height is 4/5 width */
  width: 30vw;
  height: 8vw;
}

.custom-card {
  --background: #383a3e;
}

