<ion-content>
  <ion-list>
    <ion-item (click)="clickPlatform('PS4')" (click)="presentModal()" button>PS4</ion-item>
    <ion-item (click)="clickPlatform('XOne')" (click)="presentModal()" button>XOne</ion-item>
    <ion-item (click)="clickPlatform('PS3')" (click)="presentModal()" button>PS3</ion-item>
    <ion-item (click)="clickPlatform('X360')" (click)="presentModal()" button>X360</ion-item>
    <ion-item (click)="clickPlatform('PS2')" (click)="presentModal()" button>PS2</ion-item>
    <ion-item (click)="clickPlatform('XB')" (click)="presentModal()" button>XB</ion-item>
    <ion-item (click)="clickPlatform('PS')" (click)="presentModal()" button>PS</ion-item>
    <ion-item (click)="clickPlatform('PC')" (click)="presentModal()" button>PC</ion-item>
    <ion-item (click)="clickPlatform('3DS')" (click)="presentModal()" button>3DS</ion-item>
    <ion-item (click)="clickPlatform('DS')" (click)="presentModal()" button>DS</ion-item>
    <ion-item (click)="clickPlatform('GB')" (click)="presentModal()" button>GB</ion-item>
    <ion-item (click)="clickPlatform('GBA')" (click)="presentModal()" button>GBA</ion-item>
    <ion-item color="danger" lines="none" detail="false" button (click)="closePopover()">Close</ion-item>
  </ion-list>
</ion-content>
