<ion-header>
  <ion-toolbar>
    <ion-title *ngIf="platformBool">La ricerca ha prodotto: {{arrayAux.length}} risultati</ion-title>
    <ion-title *ngIf="genreBool">La ricerca ha prodotto: {{arrayAux2.length}} risultati</ion-title>
    <ion-title *ngIf="textBool">La ricerca ha prodotto: {{arrayAux3.length}} risultati</ion-title>
    <ion-title *ngIf="jaccardBool">La ricerca ha prodotto: {{arrayAux4.length}} risultati</ion-title>
    <ion-button (click)="closeModal()" color="shade" slot="end">
      <ion-icon slot="icon-only" name="close"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="platformBool">

  <ion-card *ngFor="let game of games">
    <ion-list>
      <ion-item lines="none">
        <ion-thumbnail slot="end">
          <ion-img [src]="game.Image"></ion-img>
        </ion-thumbnail>
        <ion-label><b>Name: </b>{{game.Name}}</ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label><b>Genre: </b>{{game.Genre}}</ion-label>
        <ion-label><b>Platform: </b>{{game.Platform}}</ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label><b>Rating: </b>{{game.Rating}}</ion-label>
        <ion-label><b>Year of Release: </b>{{game.Year_of_Release}}</ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label><b>Developer: </b>{{game.Developer}}</ion-label>
      </ion-item>
      <ion-item lines="none" href="{{game.Trailer}}">
        <ion-label color="danger"><b>Trailer: </b>{{game.Trailer}}</ion-label>
      </ion-item>
      <ion-item lines="none" href="{{game.Guide}}">
        <ion-label color="success"><b>Guide: </b>{{game.Guide}}</ion-label>
      </ion-item>
      <ion-item lines="none" href="{{game.Gameplay}}">
        <ion-label color="primary"><b>Gameplay: </b>{{game.Gameplay}}</ion-label>
      </ion-item>
    </ion-list>
  </ion-card>

</ion-content>

<ion-content *ngIf="genreBool">

  <ion-card *ngFor="let game of games2">
    <ion-list>
      <ion-item lines="none">
        <ion-thumbnail slot="end">
          <ion-img [src]="game.Image"></ion-img>
        </ion-thumbnail>
        <ion-label><b>Name: </b>{{game.Name}}</ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label><b>Genre: </b>{{game.Genre}}</ion-label>
        <ion-label><b>Platform: </b>{{game.Platform}}</ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label><b>Rating: </b>{{game.Rating}}</ion-label>
        <ion-label><b>Year of Release: </b>{{game.Year_of_Release}}</ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label><b>Developer: </b>{{game.Developer}}</ion-label>
      </ion-item>
      <ion-item lines="none" href="{{game.Trailer}}">
        <ion-label color="danger"><b>Trailer: </b>{{game.Trailer}}</ion-label>
      </ion-item>
      <ion-item lines="none" href="{{game.Guide}}">
        <ion-label color="success"><b>Guide: </b>{{game.Guide}}</ion-label>
      </ion-item>
      <ion-item lines="none" href="{{game.Gameplay}}">
        <ion-label color="primary"><b>Gameplay: </b>{{game.Gameplay}}</ion-label>
      </ion-item>
    </ion-list>
  </ion-card>

</ion-content>

<ion-content *ngIf="textBool">

  <ion-card *ngFor="let game of games3">
    <ion-list>
      <ion-item lines="none">
        <ion-thumbnail slot="end">
          <ion-img [src]="game.Image"></ion-img>
        </ion-thumbnail>
        <ion-label><b>Name: </b>{{game.Name}}</ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label><b>Genre: </b>{{game.Genre}}</ion-label>
        <ion-label><b>Platform: </b>{{game.Platform}}</ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label><b>Rating: </b>{{game.Rating}}</ion-label>
        <ion-label><b>Year of Release: </b>{{game.Year_of_Release}}</ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label><b>Developer: </b>{{game.Developer}}</ion-label>
        <ion-label><b>Score: </b>{{game.score}}</ion-label>
      </ion-item>
      <ion-item lines="none" href="{{game.Trailer}}">
        <ion-label color="danger"><b>Trailer: </b>{{game.Trailer}}</ion-label>
      </ion-item>
      <ion-item lines="none" href="{{game.Guide}}">
        <ion-label color="success"><b>Guide: </b>{{game.Guide}}</ion-label>
      </ion-item>
      <ion-item lines="none" href="{{game.Gameplay}}">
        <ion-label color="primary"><b>Gameplay: </b>{{game.Gameplay}}</ion-label>
      </ion-item>
    </ion-list>
  </ion-card>

</ion-content>

<ion-content *ngIf="jaccardBool">

  <ion-card *ngFor="let game of games4">
    <ion-list>
      <ion-item lines="none">
        <ion-thumbnail slot="end">
          <ion-img [src]="game.Image"></ion-img>
        </ion-thumbnail>
        <ion-label><b>Name: </b>{{game.Name}}</ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label><b>Genre: </b>{{game.Genre}}</ion-label>
        <ion-label><b>Platform: </b>{{game.Platform}}</ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label><b>Rating: </b>{{game.Rating}}</ion-label>
        <ion-label><b>Year of Release: </b>{{game.Year_of_Release}}</ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label><b>Developer: </b>{{game.Developer}}</ion-label>
        <ion-label><b>JaccardScore: </b>{{game.jaccardScore}}</ion-label>
      </ion-item>
      <ion-item lines="none" href="{{game.Trailer}}">
        <ion-label color="danger"><b>Trailer: </b>{{game.Trailer}}</ion-label>
      </ion-item>
      <ion-item lines="none" href="{{game.Guide}}">
        <ion-label color="success"><b>Guide: </b>{{game.Guide}}</ion-label>
      </ion-item>
      <ion-item lines="none" href="{{game.Gameplay}}">
        <ion-label color="primary"><b>Gameplay: </b>{{game.Gameplay}}</ion-label>
      </ion-item>
    </ion-list>
  </ion-card>

</ion-content>
